.light-theme {
	background-color: #fff;
	--border-color: black;
	--text-color: black;
	--link-hover-color: rgb(221, 67, 67);
	--btn-hover-color: rgb(245, 152, 152);
	--bg-color: #fff;
	--bg-color-noisy: #000000cc;
}

.dark-theme {
	background-color: black;
	--border-color: white;
	--text-color: white;
	--link-hover-color: rgb(0, 119, 255);
	--btn-hover-color: rgb(0, 119, 255);
	--bg-color: black;
	--bg-color-noisy: #ffffffcc;

	.theme_btn {
		transform: rotate(180deg);
	}
}